<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <ComponentGroup Id="ProductComponents" >

      <ComponentRef Id="TestFile"  />

    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\build\publish_win$(var.Platform)">

      <Component Id="TestFile" Guid="{557EF2B2-7CCE-49B9-BD60-F6BD68C61C88}">
        <File Id="FileTestFile" Name="WpfDemo.exe" KeyPath="yes"/>

        <!--Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>

    </DirectoryRef>

  </Fragment>

</Wix>
